<form [formGroup]="tiempo" (ngSubmit)="enviar()">
    <p>
        Circuito:
        <select formControlName="circuito">
            @for(circuito of circuitos; track $index){
                <option value="{{circuito.nombre}}">{{circuito.nombre}}</option>
            }
        </select>
    </p>
    <p>
        Tiempo:
        <input type="time" formControlName="tiempo">
    </p>
    <button type="submit" [disabled]="tiempo.invalid">Confirmar</button>
    <button routerLink="/main/{{usuarioId}}/gestion-personal/{{usuarioId}}">Volver</button>
  </form>