table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

table th, table td {
    border: 2px double #6d6d6d;
    padding: 10px;
}

table th {
    background-color: #4d4d4d;  
    color: #fafafa;  
}

table tr:nth-child(even) {
    background-color: #d6d6d6;  
}

table tr:nth-child(odd) {
    background-color: #f0f0f0; 
}

td table {
    width: 100%;
    border-collapse: collapse;
}

td table td, td table th {
    border: 1px solid #6d6d6d; 
    text-align: center;
    padding: 5px;
}

td table tr:nth-child(even) {
    background-color: #d6d6d6;
}

td table tr:nth-child(odd) {
    background-color: #f0f0f0; 
}

td table th {
    background-color: #6d6d6d; 
    color: #fafafa; 
}

caption {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #4d4d4d;
}
