<body>
  <div class="login-container">
    <form #loginForm="ngForm" (ngSubmit)="onLogin()">
      <label for="usuario">Usuario:</label>
      <input id="usuario" class="user" name="usuario" type="text" [(ngModel)]="usuario" required/>
      @if (usuarioInvalid){
      <div>
        <small>Escribe tu usuario</small>
      </div>
      }
      <label for="contrasena">Contraseña:</label>
      <input id="contrasena" class="password" name="contrasena" type="password" [(ngModel)]="contrasena" required/>
      @if (contrasenaInvalid){
      <div>
        <small>Introduce tu contraseña</small>
      </div>
      }
  
      <button type="submit" class="boton" [disabled]="loginForm.invalid">Logearse</button>
      <button type="button" class="boton" routerLink="register">Registrarse</button>
    </form>
  
    @if (errorMessage){
    <div class="error-message">
      {{ errorMessage }}
    </div>
    }
</div>
</body>
  
