<p>
    proyecto final de final segundo trimestre de 2º de DAW
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quas explicabo impedit mollitia fuga est, tempora laboriosam delectus nobis 
    possimus repudiandae maxime ad consectetur. Dolor ipsum tempora sit. Possimus aliquid atque, dolore alias quas ad doloremque nulla ut dignissimos 
    repudiandae error harum magnam quod rerum accusamus quos recusandae quis et aspernatur deleniti, doloribus eius! Nobis eaque perferendis, 
    similique commodi aut dolorem suscipit molestias accusamus repellat officiis illum dignissimos placeat vitae, corrupti voluptatibus ducimus 
    accusantium inventore expedita harum, numquam dolore. Corporis error, illum velit in molestias omnis! Eveniet maiores deleniti vel, possimus 
    nam voluptates enim reiciendis vero, natus facilis molestias pariatur itaque ipsa sint accusamus aliquam eos impedit nobis harum sed deserunt? 
    Id quo perferendis possimus similique. Molestias sit a illo inventore. Incidunt nisi iste odio unde nobis quis laudantium labore vel voluptatibus 
    fugiat deserunt officiis impedit, quos ipsum optio placeat quasi voluptatem recusandae, ullam sequi quia? Odit non optio, neque, esse et mollitia 
    officiis obcaecati architecto, quaerat laudantium est facilis iusto ad? Laborum, aperiam! Optio nam architecto recusandae blanditiis amet tenetur 
    exercitationem explicabo! Obcaecati laborum impedit dignissimos illo voluptatibus consequatur cupiditate 
    quam ratione quisquam ipsam tempora quia aspernatur, deleniti natus numquam delectus? Amet harum quis culpa obcaecati perferendis, quo sit.
</p>
<button (click)="mapa.ocultarMostrarMapa()">Mostrar nuestra ubicacion</button>
<br>
<app-mapa #mapa></app-mapa>

