<body>
  <form [formGroup]="registro" (ngSubmit)="enviar()">
    <p>
      <label for="usuario">Usuario:</label>
      <input type="text" formControlName="usuario" required class="user" />
    </p>
    <p>
      <label for="nombre">Nombre:</label>
      <input type="text" formControlName="nombre" required class="user" />
    </p>
    <p>
      <label for="email">Email:</label>
      <input type="email" formControlName="email" required class="user" />
      @if (this.registro.get('email')?.errors?.['email']) {
        <span>deve de ser un email valido</span>
      }
    </p>
    <p>
      <label for="contrasena">Contraseña:</label>
      <input type="password" formControlName="contrasena" class="password"/>
      @if (this.registro.get('contrasena')?.errors?.['contrasenas']) {
        <p>pon bien la contraseña</p>
      }
    </p>
    <button type="submit" [disabled]="registro.invalid" class="boton">Confirmar</button>
    <button routerLink="/" class="boton">Ir al login</button>
  </form>
  
</body>